@media(max-width:480px){
  *{
    max-width: 480px;
    width: auto;
    height: auto;
  }
  header{
    height: 300px;
  }
  .bar-nav{
    left: 10px;
    top: 10px;
  }
  .header-center ul{
    padding-top: 50px;
    flex-wrap: wrap;
    text-align: center;
  }
  .header-left{
    left: 0;
    top: 0;
  }
  .header-right{
    right: 10px;
  }
  .header-center li{
    flex: auto;
    width: 100%;

  }
  #top{
    height: 500px;
  }
  #Introduction-wrapper,#about-wrapper,#guide-wrapper{
  height: auto;
  padding: 50px 0;
  }
  #top h2{
    font-size: 30px;
    line-height: normal;
    display: inline;
    position: absolute;
    right: 0;
    top: 200px;
  }
  .fadein{
    transform : translate(0, 50px);
  }
  .selectsheets{
    flex-wrap: wrap;
    flex: auto;
  }
  #basesheet,#practicesheet,#simplesheet{
    width: 80%;
    margin: 20px auto;
  }
  .sheets-heading{
    height: 400px;
    width: 100%;
  }
  .sheets-heading h2{
    line-height: normal;
    font-size: 30px;
    padding-top: 20px;
  }
  .bottom{
    width: 100%;
    margin: 0;
  }
  .textbox,.btn,.complete input,.table{
    width: 100%;
  }
  th{
    width: 130px;
  }
}
