body{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic";
}
.container{
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
  padding:0;
  display: block;
}
.tableOfBase,.tableOfPractice{
  width: 1000px;
  margin: 0 auto;
  table-layout: fixed;
}
caption{
  margin-bottom: 10px;
  margin-top: 20px;
}
th{
  width: 200px;
  height: 200px;
}
td{
  vertical-align: top;
}
h1{
  text-align: center;
}
p{
  padding: 0;
  margin: 0;
}
.btn{
  margin-top: 20px;
}
.th-11{
  height: 50px;
}
.far{
  font-size: 25px;
  color:black;
  cursor: pointer;
}
.complete{
  display:none;
}
