*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic";
}
.container{
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
  padding:0;
  display: block;
}
.tableOfBase,.tableOfPractice,.btn{
  width: 1000px;
  margin: 0 auto;
  table-layout: fixed;
}
caption{
  margin-bottom: 10px;
  margin-top: 20px;
}
th{
  height: 200px;
  width: 200px;
}
td{
  overflow-wrap:break-word;
}
.heightType1{
  height: 100px;
}
.heightType2{
  height:120px;
}
.heightType3{
  height: 140px;
}
.heightType4{
  height: 140px;
}
.heightType5{
  height: 110px;
}
.heightType6{
  height: 150px;
}
.heightType7{
  height: 50px;
}
td{
  vertical-align: top;
}
h1{
  text-align: center;
}
.title{
  width: 100%;
  margin:0 auto;
}
p{
  padding: 0;
  margin: 0;
}
.btn{
  position: relative;
}
.far{
  font-size: 25px;
  color:black;
  cursor: pointer;
}
#complete{
  padding:15px;
  position: absolute;
  top: 20px;
}
.complete{
  display:none;
}
